<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Yell Chamber</title>
</head>
<body>
  <p>press the button and let out your frustration</p>

  <button></button>

</body>
</html>
